textarea {
    min-height: 400px;
}

#reply-btn, #archive-btn {
    border: 1px #007bff solid;
    border-radius: 8px;
    color: #007bff;
}

#email-body, #sent-email-body {
    margin-top: 20px;
    border: 1px lightgray solid;
    border-radius: 4px;
    height: auto;
    min-height: 200px;
    padding: 10px;
}