{% extends "MGIH/layout.html" %}

{% block body %}
    <h1 style="text-align: center; padding: 5px; font-weight:bold; background-color: chocolate; color: white;">Choose your ingredients:</h1>
    <div style="display:grid; grid-template-columns: min-content auto; grid-gap: 10px; justify-content: center;">
        <form action="{% url 'results' %}" method="post" style="text-align: center;">
            {% csrf_token %}
            <datalist id="ingredients">
                {% for ingredient in ingredients %}
                    <option value="{{ingredient.name}}"></option>
                {% endfor %}
            </datalist>
            <div id="extra-box">
                <input class="ingredient-box" list="ingredients" name="ingredient[0]" style="margin: 10px; border-radius: 20px; padding: 5px">
            </div>
            <div><button type="button" id="add-btn" style="font-weight:bolder">+</button></div>
            <div><button type="submit" class="submit-btn">Submit</button></div>
        </form>
    </div>
{% endblock %}