{% extends "MGIH/layout.html" %}

{% block body %}
    <div style="width:100%">
        <div id="login-div">
            <h2 id="login-h2">Login:</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <ul>
                    {% if error %}
                        <ul id="error">{{ error }}</ul>
                    {% endif %}
                    <ul class="log-form"><label for="username">Username:</label></ul>
                    <ul class="log-form"><input type="text" name="username"></ul>
                    <ul class="log-form"><label for="password">Password:</label></ul>
                    <ul class="log-form"><input type="password" name="password"></ul>
                    <ul class="log-form"><button class="submit-btn" type="submit" style="margin-bottom: 20px; margin-top: 10px;">Submit</button></ul>
                </ul>
            </form>
        </div>
        <div style="width:25%; display:block"></div>
    </div>
{% endblock %}